body {
    margin: 0;                /* elimina los márgenes predeterminados */
    padding: 0;              /* elimina el padding predeterminado */
    background-color: #f3e7db;  /* color de fondo gris claro */
  }